:root{
    --darkbrown:  #211717;
    --brown: #A34A28;
    --orangebrown: #F58B54;
    --gray: #DFDDC7;
    --labelbrown: #8B4226;
    --white: #FFFFFF;
    --pricegray: #DBD2B7;
}

html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
}

.c-roboto{
    font-family: 'Roboto', sans-serif;
}

.c-priceSize{
    font-size: 50px;
}

.c-mainTitleSize{
    font-size: 70px;
}

.c-textSize{
    font-size: 16px;
}

.c-priceTextSize{
    font-size: 15px;
}

.c-priceTitleSize{
    font-size: 30px;
}

.c-subTitleSize{
    font-size: 20px;
}

.c-bgDarkBrown{
    background-color: var(--darkbrown);
}

.c-bgBrown{
    background-color: var(--brown);
}

.c-bgGray{
    background-color: var(--gray);
}

.c-bgOrangeBrown{
    background-color: var(--orangebrown);
}

.c-darkbrownText{
    color: var(--darkbrown);
}

.c-brownText{
    color: var(--brown);
}

.c-orangebrownText{
    color: var(--orangebrown);
}

.c-grayText{
    color: var(--gray);
}

.c-whiteText{
    color: var(--white);
}

.c-priceColor{
    fill: var(--gray);
}

.c-priceColor2{
    fill: #DFDDC7;
}

.c-priceTitleColor{
    fill: var(--darkbrown);
}

.c-center{
    text-align:center;
}

.c-downArrowPosition{
    position:absolute;
    max-width: 15vw;
    max-height:12vh;
    display:block;
    margin-left:-3vw;
    bottom: 1vh;
    left:50%;
    transition: transform .2s;
    opacity: 1;
   
}

.c-downArrowPosition:hover{
    max-width: 10vw;
    transform: scale(1.5);
}

.c-homeTitle{
    margin: 0 auto;
    width: 600px;
    padding:2vh;
    opacity:80%;
}
.c-homeTitleWrapper{
    position:absolute;
    top:20%;
    width:100%;
}

.c-homeLocations{
    margin: 0 auto;
    width: 200px;
    padding:1vw;
    opacity:80%;
}
.c-homeLocationsWrapper{
    position:absolute;
    top:40%;
    width:100%;
}

.c-homeOpenHours{
    margin: 0 auto;
    width: 250px;
    padding:20px;
    opacity:80%;
}
.c-homeOpenHoursWrapper{
    position:absolute;
    top:55%;
    width:100%;
}

.c-backgroundImg{
    background-image: url('../assets/barber-landing.jpg');
    background-repeat: no-repeat;
    z-index:-1;
    background-attachment: fixed;
    background-size: 100vw 100vh;
}

.c-copyright{
    position:absolute;
    left: 5%;
    top:40%;
    font-family: roboto , sans-serif;
}
#menu{
    position: fixed;
    overflow: hidden;
    background-color: var(--darkbrown);
    top: 0;
    width: 100%;
    opacity:95%;
}

#menu a {
    float: left;
    display: block;
    color: var(--orangebrown);
    text-align: center;
    padding: 14px 3vw;
    text-decoration: none;
    font-size: 17px;
}

#menu a:hover {
    background-color: var(--brown);
    color: var(--white);
}

#top{
    width:100%;
    height:110vh;
    position: relative;
   
}

#services{
    width: 100%;
    height: 110vh;
    margin-bottom: 0;
}

#prices{
    margin-top: 0;
    width: 100%;
    height: 90vh;
}

#priceheader{
    text-align: center;
    padding-top: 1vh;
    margin-bottom: 0;
}

#pricesub{
    text-align: center;
    margin-top: 0;
    padding-top: 2vh;
}

#pricediv{
    display: block;
    margin: auto;
    stroke: var(--brown);
    stroke-width: 2px;
}

#pricedisp{
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 75%;
    margin-top: 6vh;
    height: 50vh;
}

.pricebg{
    fill: var(--brown);
}

.priceinner{
    stroke: var(--pricegray);
    stroke-width: 3px;
    fill: none;
}

.dottedRect{
    stroke-dasharray: 5 4;
}

.orderbtn{
    fill: var(--darkbrown);
}

#innercircle{
    fill: none;
    stroke: var(--pricegray);
    stroke-width: 3px;
}

#testimonials{
    width: 100%;
    height: 110vh;
}

#bottom{
    position:relative;
    width: 100%;
    height: 20vh;
}
