:root{
    --darkbrown:  #211717;
    --brown: #A34A28;
    --orangebrown: #F58B54;
    --gray: #DFDDC7;
    --labelbrown: #8B4226;
    --white: #FFFFFF;
    --pricegray: #DBD2B7;
}

.c-mainTitleSize{
    font-size: 70px;
}

.c-textSize{
    font-size:16px;
}

.c-priceTitleSize{
    font-size:30px;
}

.c-subTitleSize{
    font-size:20px;
}

.c-darkbrownText{
    color: var(--darkbrown)
}

.c-brownText{
    color: var(--brown)
}

.c-orangebrownText{
    color: var(--orangebrown)
}

.c-grayText{
    color: var(--gray)
}

.c-whiteText{
    color: var(--white)
}

#services{
    width: 100%;
    height: 110vh;
}